<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->
<!-- Begin Head -->

<head>
    <title>SplashDash</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/fonts.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/icofont.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" id="theme-change" type="text/css" href="">
</head>

<body>
<div class="loader">
    <div class="spinner">
        <img th:src="@{/static/picture/loader.gif}" alt="">
    </div>
</div>
<!-- Main Body -->
<div class="page-wrapper">
    <div th:replace="template.html::title"></div>
    <div th:replace="template.html::aside"></div>
    <div class="page-wrapper">

        <div class="main-content">
            <!-- Page Title Start -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-title-wrapper">
                        <div class="page-title-box">
                            <h4 class="page-title">录入书籍信息</h4>
                        </div>
                        <div class="breadcrumb-list">
                            <ul>
                                <li class="breadcrumb-link">
                                    <a href="javascript:void(0);"><i class="fas fa-home mr-2"></i>图书管理系统</a>
                                </li>
                                <li class="breadcrumb-link active">录入书籍信息</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- From Start -->
            <div class="from-wrapper">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>添加借阅</h4>
                                <p class="card-desc">请在下方选择所借阅的 <code>书籍</code> 以及对应的 <code>借阅人</code></p>
                            </div>
                            <div class="card-body">
                                <form class="separate-form" method="post" th:action="@{/api/admin/add-book}">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="member-name" class="col-form-label">书籍标题</label>
                                                    <input class="form-control" type="text" placeholder="伞兵一号的故事" id="member-name" name="title">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="member-email" class="col-form-label">书籍简介</label>
                                                    <input class="form-control" type="text" placeholder="讲述了一个伞兵带着所有人吃鸡的故事" id="member-email" name="desc">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="company-name" class="col-form-label">价格</label>
                                                    <input class="form-control" type="text" placeholder="100.50" id="company-name" name="price">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-0">
                                            <button class="btn btn-primary" type="submit">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="ad-footer-btm">
                <p>Copyright © 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">网页模板</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Script Start -->
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/popper.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/swiper.min.js}"></script>
<script th:src="@{/static/js/apexcharts.min.js}"></script>
<script th:src="@{/static/js/control-chart-apexcharts.js}"></script>
<!-- Page Specific -->
<script th:src="@{/static/js/nice-select.min.js}"></script>
<!-- Custom Script -->
<script th:src="@{/static/js/custom.js}"></script>
</body>

</html>